.about-container {
  background-color: black;
  background-color: #8e8974;
  /* background-color: #4d493e; */
  color: white;
}

.h1-section.h1-about {
  color: purple;
  color: cyan;
  color: white;
  text-align: center;
}

.about-description {
  font-size: 1.6rem;
  text-align: center;
}

.dev-stack-icons {
  display: flex;
  justify-content: space-evenly;
}

.dev-tech-icon {
  width: 120px;
}

/* tablet style */
@media only screen and (min-width: 767px) {
  .h1-projects {
    font-size: 3rem;
  }

  .project-preview {
    font-size: 1.8rem;
  }
}
