button.sb-contact-box {
  appearance: none;
  border: transparent;
  /* background-color: rgb(201, 162, 111); */
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
}

/* button from yorha.css */

.side-btn.current-link {
  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  /* background-color: transparent; */
  /* color: inherit; */
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
  width: 100%;
  text-align: right;
  -webkit-tap-highlight-color: transparent;

  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
}

.side-btn:not(.current-link) {
  /* appearance: none; */

  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #bab5a1;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  position: relative;
  width: 100%;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
}
.side-btn:not(.current-link):hover,
.side-btn:hover {
  /* -webkit-box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1; */
  /* box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1; */
}
.side-btn:not(.current-link):before {
  content: "";
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 9px;
  opacity: 80%;
}
.side-btn:not(.current-link):after {
  content: "❖";
  content: "";
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  /* right: 20; */
  /* margin-right: 200px; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}
.side-btn:not(.current-link):hover {
  background-color: transparent;
  color: #dcd8c0;
}
.side-btn:not(.current-link):hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}
.side-btn:not(.current-link):hover:after {
  width: 100%;
}
.side-btn:not(.current-link):active {
  color: #454138;
}
.side-btn:not(.current-link):active:after {
  background-color: #dcd8c0;
}

/* button section end */

/* selection icon section */
.select-icon::before {
  content: "❖";
  /* content: ""; */
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  /* right: 20; */
  /* margin-right: 200px; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}

.select-icon:after {
  content: "❖";
  /* content: ""; */
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  right: 0;
  /* margin-right: 200px; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  /* z-index: -1; */
}

.sidebar {
  background-color: rgba(245, 246, 219, 0.9);
  /* color: black; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  position: fixed;
  height: 100%;
  width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
}

.sidebar-container {
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
  /* animation-fill-mode: forwards; */
}

.sidebar-ul {
  /* position: absolute;
  right: 0;
  top: 0; */
  margin-top: 20%;
  /* padding-right: 30px; */
  list-style: none;
  font-size: 1.6rem;
  text-align: end;
  margin-right: 20px;
}

.side-btn {
  /* transition: all 0.5s; */
  /* margin-right: 30px; */
}

.side-btn:not(.current-link):hover {
  background-color: #454138;
  color: #dcd8c0;
  box-shadow: 0.1em 0.1em 0.1em 0 #bab5a1;
  padding-right: 20px;
  /* background: none; */
  animation: alternate 0.5s ease blink;
}

.test-border {
  padding-bottom: 19px;
  padding-block: 10px;
}

.test-border-inner {
  padding-block: 2px;
}

.test-border-inner:hover:not(.current-link),
.test-border-inner:active:not(.current-link) {
  /* padding: 3px; */
  /* padding-top: 2px; */
  /* border-top: solid 1px #454138; */
  /* padding-bottom: 2px; */
  /* border-bottom: solid 1px #454138; */
  /* outline: 1px #454138 inset; */
  /* outline-offset: 2px; */
}

.side-btn.test {
  /* ---test--- */
  /* border: 3px solid #454138; */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* top: 5px; */
  /* left: 2px; */
  /* right: 2px; */
  /* bottom: 5px; */
  /* pointer-events: none; */
  /* outline */
  /* outline-offset: 2px; */
  /* outline-width: 1px; */
  /* outline-color: #454138; */
  /* outline-style: inset; */
}

.sidebar-contact {
  background-color: rgb(201, 162, 111);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  margin-top: 50%;
}

/* .side-btn.current-link, */
.sidebar-contact {
  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
}

.side-btn.current-link::before {
}

.sb-contact-box {
  width: 100%;
  text-align: center;
  background-color: rgba(200, 194, 170, 0.2);
  /* background-size: 4px 4px; */
  box-shadow: 0;
  transition: all 0.3s;
  /* background-image: linear-gradient( */
  /* 90deg, */
  /* transparent, */
  /* transparent 3px, */
  /* rgba(0, 0, 0, 0.07) 4px */
  /* ), */
  /* linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px); */
}

.sb-contact-box:active {
  background-color: var(--customColor);
  color: white;
  box-shadow: 3px 2px 1px 0 #bab5a1;
}

.sb-contact-box:first-of-type {
  border-right: solid 2px #c8c2aa;
}

.current-link {
  /* background: #c8c2aa; */

  /* background-image: linear-gradient( */
  /* 90deg, */
  /* rgba(#4d493e, 0.2), */
  /* rgba(#4d493e, 0.2) 14px, */
  /* transparent 14px, */
  /* transparent 20px, */
  /* rgba(#4d493e, 0.2) 20px, */
  /* rgba(#4d493e, 0.2) 23px, */
  /* transparent 23px */
  /* ); */
}

.testing-shit {
  /* background-color: yellow; */
  /* font-size: 4rem; */
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    background-color: inherit;
    color: #dcd8c0;
  }
  25% {
    background-color: transparent;
    color: transparent;
  }

  50% {
    background-color: inherit;
    color: #dcd8c0;
  }

  75% {
    background-color: transparent;
    color: transparent;
  }

  80% {
    background-color: none;
    color: #dcd8c0;
  }

  90% {
    background-color: #454138;
    color: transparent;
  }

  100% {
    background-color: inherit;
    color: #dcd8c0;
  }
}

@media only screen and (min-width: 767px) {
  .sidebar-ul {
    font-size: 3rem;
  }
}
