.burger-container {
  background-color: transparent;
  /* appearance: none; */
  border: none;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  /* height: max-content; */
}

.burger-line {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-bottom: 8px;
}

.line1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 26px;
  animation: taro ease 1s;
}

/* .line1.open { */
/* animation: taro; */
/* } */

/* copy from codepen */

#nav-icon4 {
  width: max-content;
  max-width: 30px;
  height: 45px;
  /* we want the lines closer together */
  /* is there a block-margin or something that's making them be apart from each other? */
  /* max-height: 30px; */
  margin-left: -5px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  /* THIS MAKES IT LOOK LIKE A CHEVRON */
  width: 23px;
  /* We probably want to stick with the X though? */
  width: 42px;
  background: #d3531a;
  background: white;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  /* standard version hides second line */
  /* 
  width: 0%;
  opacity: 0;
  */
  /* our version */
  transform: translateY(20px);
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 8px;
}
