button.sb-contact-box {
  appearance: none;
  border: transparent;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
}

.side-btn.current-link {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: relative;
  width: 100%;
  text-align: right;
  -webkit-tap-highlight-color: transparent;

  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
}

.side-btn:not(.current-link) {
  padding: 0.5rem;
  font-size: 1em;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
  cursor: pointer;
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  position: relative;
  width: 100%;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
}

.side-btn:not(.current-link):before {
  content: "";
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: 9px;
  opacity: 80%;
}

/* the fill-in transition for the sidebar buttons was 
initially inspired by the yorha.css buttons by MetaKirby: https://github.com/metakirby5/yorha */

.side-btn:not(.current-link):after {
  content: "";
  -webkit-transition: all 0.16s;
  -moz-transition: all 0.16s;
  -o-transition: all 0.16s;
  -ms-transition: all 0.16s;
  transition: all 0.16s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #454138;
  z-index: -1;
}
.side-btn:not(.current-link):hover {
  background-color: transparent;
  color: #dcd8c0;
}
.side-btn:not(.current-link):hover:before {
  top: -0.2rem;
  bottom: -0.2rem;
  border: solid #454138;
  border-width: 0.1rem 0;
}
.side-btn:not(.current-link):hover:after {
  width: 100%;
}
.side-btn:not(.current-link):active {
  color: #454138;
}
.side-btn:not(.current-link):active:after {
  background-color: #dcd8c0;
}

.sidebar {
  background-color: rgba(245, 246, 219, 0.9);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  position: fixed;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.sidebar-container {
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
}

.sidebar-ul {
  margin-top: 20%;
  list-style: none;
  font-size: 1.6rem;
  text-align: end;
  margin-right: 20px;
}

.side-btn:not(.current-link):hover {
  background-color: #454138;
  color: #dcd8c0;
  box-shadow: 0.1em 0.1em 0.1em 0 #bab5a1;
  padding-right: 20px;
  animation: alternate 0.5s ease blink;
}

.test-border {
  padding-block: 10px;
}

.test-border-inner {
  padding-block: 2px;
}

.sidebar-contact {
  background-color: rgb(201, 162, 111);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  margin-top: 50%;
}

.sidebar-contact {
  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
}

.sb-contact-box {
  width: 100%;
  text-align: center;
  background-color: rgba(200, 194, 170, 0.2);
  box-shadow: 0;
  transition: all 0.3s;
}

.sb-contact-box:active {
  background-color: var(--customColor);
  color: white;
  box-shadow: 3px 2px 1px 0 #bab5a1;
}

.sb-contact-box:first-of-type {
  border-right: solid 2px #c8c2aa;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    background-color: inherit;
    color: #dcd8c0;
  }
  25% {
    background-color: transparent;
    color: transparent;
  }

  50% {
    background-color: inherit;
    color: #dcd8c0;
  }

  75% {
    background-color: transparent;
    color: transparent;
  }

  80% {
    background-color: none;
    color: #dcd8c0;
  }

  90% {
    background-color: #454138;
    color: transparent;
  }

  100% {
    background-color: inherit;
    color: #dcd8c0;
  }
}

@media only screen and (min-width: 767px) {
  .sidebar-ul {
    font-size: 3rem;
  }

  .side-btn:not(.current-link):before {
    content: "";
    -webkit-transition: all 0.16s;
    -moz-transition: all 0.16s;
    -o-transition: all 0.16s;
    -ms-transition: all 0.16s;
    transition: all 0.16s;
    position: absolute;
    opacity: 80%;
  }
  /* tablet view gets an icon to decorate empty space */
  .selection-icon:not(.current-link):after {
    content: "❖";
    -webkit-transition: all 0.16s;
    -moz-transition: all 0.16s;
    -o-transition: all 0.16s;
    -ms-transition: all 0.16s;
    transition: all 0.16s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: absolute;
    left: 0;
    margin-left: 606px;
    margin-top: 7px;
    background-color: transparent;
    z-index: -1;
  }
  .selection-icon:not(.current-link):hover {
    background-color: transparent;
    color: #dcd8c0;
  }

  .side-btn.current-link:before {
    content: "";
    content: "❖";
    margin-left: -50px;
    -webkit-transition: all 0.16s;
    -moz-transition: all 0.16s;
    -o-transition: all 0.16s;
    -ms-transition: all 0.16s;
    transition: all 0.16s;
    position: absolute;
    opacity: 80%;
  }
  .selection-icon.current-link:after {
    content: "❖";
    content: "";
    -webkit-transition: all 0.16s;
    -moz-transition: all 0.16s;
    -o-transition: all 0.16s;
    -ms-transition: all 0.16s;
    transition: all 0.16s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    position: absolute;
    left: 0;
    margin-left: 606px;
    margin-top: 7px;
    background-color: transparent;
    z-index: -1;
  }
  .selection-icon:not(.current-link):hover {
    background-color: transparent;
    color: #dcd8c0;
  }
}
