.sidebar {
  background-color: rgba(245, 246, 219, 0.9);
  /* color: black; */
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  position: fixed;
  height: 100%;
  width: 100%;
  max-height: 100%;
  /* overflow: hidden; */
}

.sidebar-container {
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.fade-in {
  animation: fadeIn 1s;
}

.fade-out {
  animation: fadeOut 1s;
  /* animation-fill-mode: forwards; */
}

.sidebar-ul {
  /* position: absolute;
  right: 0;
  top: 0; */
  margin-top: 20%;
  /* padding-right: 30px; */
  list-style: none;
  font-size: 1.6rem;
  text-align: end;
  margin-right: 20px;
}

.sidebar-li {
  transition: all 0.5s;
  /* margin-right: 30px; */
}

.sidebar-li:hover {
  background-color: #454138;
  color: #dcd8c0;
  /* box-shadow: 0.2em 0.2em 0.1em 0 #bab5a1; */
  padding-right: 10px;
  /* background: none; */
}

.test-border {
  padding-bottom: 19px;
  padding-block: 10px;
}

.test-border-inner {
  padding-block: 2px;
}

.test-border-inner:hover:not(.current-link),
.test-border-inner:active:not(.current-link) {
  /* padding: 3px; */
  /* padding-top: 2px; */
  /* padding-bottom: 2px; */
  border-top: solid 1px #454138;
  border-bottom: solid 1px #454138;
  /* outline: 1px #454138 inset; */
  /* outline-offset: 2px; */
}

.sidebar-li.test {
  /* ---test--- */
  /* border: 3px solid #454138; */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* top: 5px; */
  /* left: 2px; */
  /* right: 2px; */
  /* bottom: 5px; */
  /* pointer-events: none; */
  /* outline */
  /* outline-offset: 2px; */
  /* outline-width: 1px; */
  /* outline-color: #454138; */
  /* outline-style: inset; */
}

.sidebar-contact {
  background-color: rgb(201, 162, 111);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  margin-top: 50%;
}

.sidebar-li.current-link,
.sidebar-contact {
  border-top: solid #c8c2aa 2px;
  border-bottom: solid #c8c2aa 2px;

  background-color: #dcd8c0;
  color: #454138;
}

.sidebar-li.current-link::before {
}

.sb-contact-box {
  width: 100%;
  text-align: center;
  background-color: rgba(200, 194, 170, 0.2);
  /* background-size: 4px 4px; */
  box-shadow: 0;
  transition: all 0.3s;
  /* background-image: linear-gradient( */
  /* 90deg, */
  /* transparent, */
  /* transparent 3px, */
  /* rgba(0, 0, 0, 0.07) 4px */
  /* ), */
  /* linear-gradient(transparent, transparent 3px, rgba(0, 0, 0, 0.07) 4px); */
}

.sb-contact-box:active {
  background-color: var(--customColor);
  color: white;
  box-shadow: 3px 2px 1px 0 #bab5a1;
}

.sb-contact-box:first-of-type {
  border-right: solid 2px #c8c2aa;
}

.sidebar-li:active {
  animation: 1s ease-in alternate pageSelection;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pageSelection {
  0% {
    /* background-color: purple; */
    border-top: solid 1px #454138;
    border-bottom: solid 1px #454138;
    border-color: #454138;
    background-color: #454138;
    color: #dcd8c0;
    padding-right: 0;
  }

  25% {
    border-color: transparent;
  }

  50% {
    background-color: red;
    padding-right: 10px;

    /* border-top: solid 1px #454138; */
    /* border-bottom: solid 1px #454138; */
    border-color: #454138;
  }

  75% {
    border-color: transparent;
  }

  100% {
    background-color: antiquewhite;
    /* border-top: solid 1px #454138; */
    /* border-bottom: solid 1px #454138; */
    border-color: #454138;
  }
}
