.nav {
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  background: transparent;
  background-color: #8e8974;

  z-index: 99;

  color: #e3e3e3;
  font-size: 1.2rem;
  padding-block: clamp(30px, 20px, 42px);
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-li {
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}

.menu-btn {
  background-color: transparent;
  border: transparent;
  color: white;
  padding-right: 16px;
  font-size: clamp(26px, 32px, 42px);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

.nav-desktop-btn {
  border: transparent;
  background-color: transparent;
  color: white;
}

@media only screen and (min-width: 767px) {
  .nav-desktop-btn {
    font-size: 1.4rem;
  }

  .nav-desktop-btn:hover {
    cursor: pointer;
  }
}
