.projects-container {
  margin-top: auto;
  width: 100%;
  text-align: center;
  margin-top: 6px;
  /* background-color: #4d493e; */
  /* background-color: #dcd8c0; */
}
/*  */
/* .h1-projects { */
/* text-shadow: 0.3rem 0.3rem 0 #bab5a1; */
/* color: #f95959; */
/* color: var(--customColor); */
/* font-family: Arial; */
/* font-weight: lighter; */
/* color: white; */
/* font-size: 12vw; */
/* text-transform: uppercase; */
/* font-weight: lighter; */
/* margin-bottom: 50px; */
/* } */

.h1-section.h1-projects {
  color: var(--darkText);
  font-weight: normal;
}

.alt-h1-shadow {
  text-shadow: 0.1rem 0.1rem 0 gray;
}

.single-project-container {
  text-decoration: none;
  color: black;
}

.mapped-repos-container {
  width: 100%;
}

.project-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: whitesmoke;
  background-color: #f0ecd8;

  /* border: solid #4d493e 1px; */
  min-height: 5rem;
  margin: 10px;
}

.project-title {
  /* font-weight: lighter; */
  letter-spacing: 1px;
  font-size: 1.4rem;
  color: var(--darkText);
}

.project-thumbnail-div {
  width: 100%;
  min-height: max-content;
  color: var(--darkText);
}

.project-thumbnail-div > img {
  width: 80%;
}

.project-description {
  font-size: 1.2rem;
}

/* tablet style */
@media only screen and (min-width: 767px) {
  .h1-projects {
    font-size: 4.6rem;
    font-size: 6rem;
  }

  .project-preview {
    font-size: 1.8rem;
  }

  .project-title {
    font-size: 2.2rem;
  }

  .project-description {
    font-size: 1.8rem;
  }
}
