.projects-container {
  width: 100%;
  text-align: center;
  margin-top: 6px;
}

.h1-section.h1-projects {
  color: var(--darkText);
  font-weight: normal;
}

.alt-h1-shadow {
  text-shadow: 0.1rem 0.1rem 0 gray;
}

.single-project-container {
  text-decoration: none;
  color: black;
}

.mapped-repos-container {
  width: 100%;
}

.project-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: #f0ecd8;

  min-height: 5rem;
  margin: 10px;
}

.project-title {
  letter-spacing: 1px;
  font-size: 1.4rem;
  color: var(--darkText);
}

.project-thumbnail-div {
  width: 100%;
  min-height: max-content;
  color: var(--darkText);
}

.project-thumbnail-div > img {
  width: 80%;
}

.project-description {
  font-size: 1.2rem;
}

/* tablet style */
@media only screen and (min-width: 767px) {
  .h1-projects {
    font-size: 6rem;
  }

  .project-preview {
    font-size: 1.8rem;
  }

  .project-title {
    font-size: 2.2rem;
  }

  .project-description {
    font-size: 1.8rem;
  }
}
