*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  /* colours - colors */
  --darkText: #4d493e;
  --gentleBeige: #d3cdb4;
  --lightGentleBeige: #ded7bc;
  --gentleBeigeOriginal: #c8c2aa;

  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--gentleBeige);
}

::selection {
  background: rgb(240, 236, 216);
  color: var(--darkText);
}

.bold {
  font-weight: bold;
}

.lock-scroll {
  overflow: hidden;
}

h1.with-shadow {
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
}

.splash {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dcd8c0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-height: 48rem;
  max-height: 48rem;
}

.hide {
  display: none;
}

.goku-hero,
.breathing-circle,
.static-circle,
.post-circle {
  max-width: 300px;
  padding-bottom: 42%;
  border-bottom: solid 2px white;
}

.breathing-circle-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breathing-circle,
.static-circle,
.post-circle {
  color: black;
  width: 170px;
  height: 33px;
  border-radius: 50%;
  border: dashed 1px #132743;
  margin-bottom: 100%;
}

.static-circle {
  animation: glow 5s alternate infinite;
}

.breathing-circle {
  animation: breathe478 ease-in-out infinite 21s;
  animation-iteration-count: 1;
}

.post-circle {
  animation: fadeIn 2s;
}

.smile-circle {
  width: 100px;
  height: 76px;
  border-bottom: solid #132743 1px;
  margin-top: 30px;
  border-radius: 50%;
  margin-left: 35px;
  animation: fadeIn 3s;
}

.smile-circle:active {
  width: 100px;
  height: 46px;
}

.breathe-text,
.breathe-btn {
  font-size: 1rem;
  position: absolute;
  margin-top: 80%;
  opacity: 100%;
  transition: all 8s;
}

.breathe-text {
  margin-top: -200px;
}

.breathe-text:hover {
  font-size: 2rem;
  opacity: 0%;
}

.breathe-btn {
  border: transparent;
  background: transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.breathe-text:hover:after {
  font-size: 1rem;
}

.hero-h1 {
  color: var(--darkText);
  font-size: 8rem;
  font-weight: lighter;
  /* margin-bottom: 20%; */
}

.h1-categ {
  text-shadow: 0.3rem 0.3rem 0 #bab5a1;
  color: var(--darkText);
  font-size: 20vw;
}

.h1-section {
  color: white;
  font-size: 12vw;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0;
}

.timer-count {
  position: absolute;
  margin-top: -390px;
}

@keyframes breathe {
  0% {
    width: 170px;
    height: 33px;
  }

  50% {
    width: 409px;
    height: 169px;
  }

  100% {
    width: 170px;
    height: 33px;
  }
}

@keyframes breathe478 {
  0% {
    width: 170px;
    height: 33px;
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );

    box-shadow: 0 0 3px rgba(225, 249, 167, 0.884);
    opacity: 30%;
  }

  21% {
    width: 409px;
    height: 169px;
    background: rgb(240, 236, 216);
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );

    box-shadow: 0 31px 61px rgba(251, 237, 107, 1);
    border: solid yellow 2px;
    opacity: 100%;
  }

  57% {
    width: 409px;
    height: 169px;
    opacity: 100%;
  }

  75% {
    opacity: 70%;
  }

  80% {
    opacity: 50%;
  }

  90% {
    opacity: 20%;
  }

  97% {
    background: rgb(240, 236, 216);
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );
    box-shadow: none;
    opacity: 10%;
    width: 170px;
    height: 33px;
  }

  100% {
    background: transparent;
    opacity: 100%;
  }
}

@keyframes glow {
  0% {
    background: rgb(240, 236, 216);
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );
    box-shadow: 0 0 3px rgba(225, 249, 167, 0.884);
    opacity: 30%;
  }

  50% {
    background: rgb(240, 236, 216);
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );
    opacity: 70%;
  }

  100% {
    background: rgb(240, 236, 216);
    background: linear-gradient(
      325deg,
      rgba(240, 236, 216, 1) 0%,
      rgba(249, 249, 249, 1) 100%
    );
    box-shadow: 0 0 3px rgba(225, 249, 167, 0.884);
    opacity: 30%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@media only screen and (min-width: 767px) {
  .hero {
    height: 100%;
    min-height: 55rem;
    max-height: 55rem;
  }

  .hero-h1 {
    font-size: 10rem;
    /* margin-bottom: 33%; */
  }

  .breathing-circle {
    /* margin-top: 33%; */
  }
}
