*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: teal;
  background-color: #132743;
  /* background: linear-gradient(#132743 #336fc4);
  background: rgb(19, 39, 67);
  background: linear-gradient(
    128deg,
    rgba(19, 39, 67, 1) 0%,
    rgba(64, 19, 97, 1) 100%
  ); */
  background: rgb(19, 34, 67);
  background: linear-gradient(
    90deg,
    rgba(19, 34, 67, 1) 0%,
    rgba(76, 23, 115, 1) 100%
  );
}

.splash {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  text-align: center;
}

.goku-hero {
  max-width: 300px;
}

.hero-h1 {
  color: #f95959;
  font-size: 9rem;
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url("./assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
